{# templates/producto/lista.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado de Productos</h1>
    {# ...contenido de la lista de productos... #}

    <button class="btn-light">Botón Ligero</button>
{% endblock %}



