{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi Sitio{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/estilos.css') }}">
    {# ...otros encabezados... #}
</head>
<body>
    <div class="header">
        <h1 class="title">{% block pageTitle %}Carrito de Compras{% endblock %}</h1>
    </div>
    <div class="content">
        {% block body %}{% endblock %}
    </div>
    {# ...otros elementos... #}
</body>
</html>
